// HEADER
.header {
  background-image: url("../../images/mainX3.png");
  height: 43rem;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  .main-header {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
  }
  .down-arrow{
    position: absolute;
    top: 96.5%;
    left: 50%;
    transform: translateX(-50%);
  }
}
