// NAVIGATION
.navigation {
  background-color: white;
  // box-shadow: none;
  // height: 5rem;
  .left {
    margin-left: 5rem;
  }
  .right {
    margin-right: 5rem;
  }
  .logo-image {
    height: 4rem;
    @media only screen and (min-width: 993px) and (max-width: 1150px) {
      width: 13rem;
    }
    @media only screen and (min-width: 1440px){
      width: 20rem;
    }
  }
  &__item {
    height: 2rem;
    @media only screen and (min-width: 993px) and (max-width: 1150px) {
      width: 9.3rem;
    }
    @media only screen and (min-width: 1440px){
      width: 13rem;
    }
  }
}
.sidenav {
  &__logo {
    margin-top: 1rem;
  }
  &__item {
    margin: 2.3rem;
  }
}
