// NAVIGATION
.navigation{
    background-color: white;
   box-shadow: none;
   height: 5rem;
    .left{
        margin-left:5rem;
    }
    .right{
        margin-right:5rem;
    }
    .brand-logo .logo-image{
        height: 4rem;
    }
    &__item{
        height: 2rem;
    }
}