//PRODUCTS
.products {
  margin: 2rem 3rem;
  .modal-overlay {
    transition: opacity 0.5s ease;
    &:hover {
      opacity: 0.9 !important;
    }
  }
  .modal {
    top: 30% !important;
    height: 25rem;
    @media only screen and (max-width: 520px) {
      width: 100%;
    }
    &-content {
      @media only screen and (max-width: 520px) {
        h4{
          font-size: 1.6rem;
          margin-top: 5rem;
        }
      }
      &__description {
        margin: 5rem 2rem 0 2rem;
        @media only screen and (max-width: 520px) {
          margin: 3rem 0 0 0;
        }
      }
    }
    &-footer {
      text-align: center !important;
      &__price {
        background-color: rgb(236, 73, 73);
        margin: 0 auto;
        padding: 1rem 0.2rem 0 0.2rem;
        font-size: 1.6rem;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
nav.back {
  height: 6rem;
  z-index: 1100;
  position: fixed !important;
  top: -20px;
  box-shadow: black 0 0 4rem;
  padding-top: 1rem;
  padding-left: 5rem;
  cursor: pointer;
}
img.top-image {
  position: fixed !important;
  z-index: 1003;
  top: 20%;
  left: 25%;
  height: 10rem;
  box-shadow: black 0 0 1rem;
  @media only screen and (max-width: 960px) {
    left: 15%;
  }
  @media only screen and (max-width: 670px) {
    left: 11%;
    height: 8rem;
  }
  @media only screen and (max-width: 520px) {
    height: 5.6rem;
    left: 50%;
    transform: translateX(-50%);
    top: 22%;
  }
}
