.suggest {
  margin: 8rem 2rem 0 2rem;
  &__container {
    margin: 0 auto !important;
  }
  nav.go-back-suggest {
    @include backNav;
    background-color: #fa3c3c;
  }
  .submit {
    margin-top: 2rem;
  }
}
