.suggest {
  margin: 8rem 2rem 0 2rem;
  &__container {
    margin: 0 auto !important;
    @media only screen and (max-width: 370px) {
      width: 100% !important;
      padding: 1rem .2rem !important;
      h4 {
        font-size: 1.7rem;
      }
    }
  }
  nav.go-back-suggest {
    @include backNav;
    background-color: #fa3c3c;
  }
  .submit {
    margin-top: 2rem;
  }
}
